{% extends 'ccgen/base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{%  block content %}       
    

    <main>
        <!-- main section starts here -->

        <div class="main-content">
            <div class="head">
                <h2>Sign In</h2>
                <button type="cancel" class="btn-close" value="X" onclick="javascript:window.history.back()">X</button>
            </div>

            <form method='post' action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-field">
                            {{ form.email.label_tag }}
                            <div class="flex">
                                {{ form.email }}
                                <i class="fa fa-envelope icon"></i>
                            </div>
                        </div>
                        <div class="form-field">
                            {{ form.password.label_tag }}
                            <div class="flex">
                                {{ form.password }}
                                <i class="fa fa-lock icon"></i>
                            </div>
                        </div>
                        <div class="flex">
                            <p> <input type="checkbox" name="" id="terms">
                                Remember me
                            </p>
                            <a href="{% url 'password_reset' %}" class="forgot-btn">Forgot Password</a>
                        </div>
                        <div class="form-field sign-in">
                            <input type='submit' value="login" id="login-submit"/>
                    <input type="hidden" name='next' value="{{ next }}"/>
                </form>

            <div class="break">
                <p>Or</p>
            </div>

            <div class="socials">
                <div class="social-field flex">
                    <i class="fas fa-google icon fa"></i>
                    <a href="#">Sign In with Google</a>
                    <p></p>
                </div>
                <div class="social-field flex">
                    <i class="fas fa-facebook icon fa"></i>
                    <a href="#">Sign In with Facebook</a>
                    <p></p>
                </div>
                <div class="social-field flex">
                    <i class="fas fa-apple icon fa"></i>
                    <a href="#">Sign In with Apple Id</a>
                    <p></p>
                </div>
            </div>
            <p class="question">Don't have an account? <a href="{% url 'ccgen:usersignup' %}">Sign In</a></p>
            <p><a href="{% url 'password_reset' %}">lost password</a></p>
        </div>

        <!-- main section ends here -->
    </main>
{%endblock%%}