*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;

}
h1{
    font-size: 2.8rem;
}
a{
    text-decoration: none;
    color: white;
    list-style: none;
}

/* nav section */
nav{
    display: flex;
    width: 77%;
    margin: auto;
    align-items: center;
    padding: 1.5rem;
    min-height: 10vh;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    
}
.main-head{
background-color: #523509;

}
#logo{
    flex: 1 1 40rem;
}

/* card session */
.dashboard-catalogue{
    display: flex;
padding-top: 3rem;
margin-right: 9rem;
    
    align-items: center;
    /* justify-content:
     center; */
}
.dashboard-catalogue h3{
    font-size: 1.7rem;
    padding-right: 1rem;
    padding-left: rem;

}
.dashboard-catalogue img{
width: 10px;
height: 15px;
}
.hero{
    width: 74%;
    margin:auto;
    
}
.orange{
    display: flex;
    margin-top:4rem;

}
.orange-card{
    margin-top:9rem;

}
.catalogue-arrow{
    padding-left:1rem;
}
.orange-img{
    flex: 1 1 40rem;
/* margin: 6rem 3rem 4rem 0rem; */

}
.orange-text{
    flex: 1 1 40rem;
    height: 80%;
    margin: auto;
    
    
}
.orange-text h2,.orange-text p{
margin: 1rem;
font-size: 1.2rem;
}
.orange-text h2{
    font-weight:bolder;
    font-size: 1.8rem;
}
.icon img{
    width: 1.7rem;
    margin: 1rem;
}
.star img{
    width: 1.7rem;   
    margin: 1rem;

}
.orange-text button{
margin-left:5rem;
padding: 0.8rem 1.8rem 0.8rem 1.8rem;
border-radius: 0.8rem;
border: none;
color:rgb(94, 74, 74);
background-color: #F79F1A;
}

hr{
    margin-top: 5rem;
}

/* FOOTER */

footer{
    display: flex;
width: 74%;
margin: auto;
color: #fff;
}
.footer-icon{
}
main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 37vh;
background-color: #523509;
margin-top:10rem;

}

footer div h3{
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

footer div p{
font-size:1.8rem;
font-family: 'Roboto', sans-serif;
margin-bottom: 2rem;
}

.footer-middle{
display: flex;
flex: 1 1 40rem;
gap: 9rem;

}

.team-human{
flex: 1 1 40rem;


}
