{% extends 'ccgen/base.html' %}
{% block content %}
{% load static %}
    <h1>Designs list</h1>
    {% if design_list %}
        <ul>
            {% for design in design_list %}
            <li>
                <a href="{{ design.file.url}}" onClick="downloaded('{{design}}')" download>
	                <img src=" {{design.file.url}}" alt="design not an image" width="104" height="142"><br>
                    <span>click to download</span><br>
                </a> 
                <span id="designid-{{design}}">{{design.id}}</span><br>
                <span id="url-{{design}}">{% url 'ccgen:update-download-field' design.id %}</span><br>
                <a href="{% url 'ccgen:design-detail' design.id %}">{{ design.name }}</a>
                
                {% if design.download_set.all %}
                    {% for copy in design.download_set.all %}
                        {% if copy.user == user %}
                            <code id="download-{{design}}">Downloaded✅</code>
                        {%endif%}
                    {%endfor%}
                {%endif%}
                <ul>
                    <li><button style="border-radius: 5px; background-color:red;"><a style="text-decoration: none;" href="{% url 'ccgen:design-delete' design.id %}">Delete {{design}}</a></button></li>
                </ul>
             </li>
             <hr>
            {% endfor %}

        </ul>
      <p><a href="{% url 'ccgen:design-create' %}">create another design</a></p> 
  
    {% else %}
    <div>
        <p>there are no designs in the library,<a href="{% url 'ccgen:design-create' %}">create design</a></p> 
    </div>
    {% endif %}
{% endblock %}
