{% extends 'ccgen/base.html' %}
{% block content %}
{%load static%}
    {% if download_list %}
        <h1>my downloads</h1>

        <ul>
            {% for download in download_list %}
                <li>
                    <a href="{% url 'ccgen:design-detail' download.design.pk %}">
                            <img src=" {{download.design.file.url}}" alt="design not an image" width="104" height="142">
                          <br> 
                        {{ download.design.name }}
                    </a><br>
                    <span>time of downwload: {{download.time}}</span>
                </li>
                <hr>
            {% endfor %}
        </ul>
  
    {% else %}
        <p>there are no downloads by you</p> 
    </p>
    {% endif %}
{% endblock %}